@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "Helvetica Neue";
  	src: local("../fonts/HelveticaNeueLTStd-BdCn,otf") format("otf"),
}

::-webkit-scrollbar {
    width: 0px;
}

:focus{
	border:none!important;
    background-color: none!important;
	outline: none;
  	box-shadow: none;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', Sans-Serif;
	
}

header{
	width:100%;
	height: 150px;
	position: fixed;
}
	.logo-principal{
		padding: 40px 40px;
	}
		.logo-principal img{
			width: 200px;
		}

section{
	width: 100%;
	height: 100%;
	color:#ffffff;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	text-align: center;
}

	.slide01{
		background: url("../images/slide01.jpg") no-repeat;
		background-size: cover;	
	}
	.slide02{
		background: url("../images/slide02.jpg");
		background-size: cover;
	}
	.slide03{
		background: url("../images/slide03.jpg");
		background-size: cover;
	}
	.slide04{
		background: url("../images/slide04.jpg");
		background-size: cover;
	}
	.slide05{
		background: url("../images/slide05.jpg");
		background-size: cover;
	}
	.slide06{
		background: url("../images/slide06.jpg");
		background-size: cover;
	}
		.conteudo-slide{
			background-color: rgba(0,0,0,0.2);
			height: 80%;
			width: 100%;
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			padding-top: 100px;
		}
		.conteudo-slide h3{
			font-size:30px;
		}

		.conteudo-seta{
			background-color: rgba(0,0,0,0.2);
			height: 20%;
		}

			h2.slide-title{	
				text-transform: uppercase;
				font-size:40px;
				margin: 5px;
			}

			button.slide-button{
				background: none ;
				border: 1px solid #ffffff!important;
				font-size:16px;
				padding: 10px 40px;
				color:#ffffff;
				font-weight: bold;
				cursor: pointer;
				margin-top: 20px;
				border-radius:50px;
				-webkit-transition: all 0.2s linear ;
				transition: all 0.2s linear ;
			}
			button.slide-button:hover{
				background: #ffffff;
				color:#182342;
			}

			.seta img{
				height: 100px;
				width: 100px;
				cursor: pointer;
				transition: all 0.2s linear ;
			}

			.seta-up img{
				transform: rotate(180deg);
				height: 100px;
				width: 100px;
				cursor: pointer;
			}

form{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
	input[type=text]{
		width: 100%;
		padding: 25px 50px;
		margin: 8px 0;
		border:0;
		border-radius:50px;
	}
	input[type=submit]{
		padding: 20px 50px;
		margin: 8px 0;
		border-radius:50px;
		background: #b1182e;
		font-size:16px;
		font-weight: bold;
		text-transform: uppercase;
		color:#ffffff;
		border:0;
		cursor: pointer;
	}
	input[type=submit]:hover{
		background: #91132;
	}

@media screen and (max-width: 700px) {

	header{
		postion:relative!importantimportant;
		
}
	.logo-principal img{
			width: 150px;
		}

	.slide01, .slide02, .slide03, .slide04, .slide05, .slide06{
		background-position: center top!important;
	}
}




